<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="ParserSiteDb" connectionString="data source=PCinitial catalog=NewsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>