<div class="jumbotron">
    <h1>Внимание!</h1>
    <p class="lead">
        Сначала нужно авторизоваться чтобы получить доступ ко всем плюшкам приложения
    </p>
    <p>
        <a href="@Url.Action("RegisterExternal", "Home")" class="btn btn-primary btn-lg">
            GO!
        </a>
    </p>
</div>
