@model NewsParserSite.API.Models.RegisterBindingModel

@{
    ViewBag.Title = "RegisterExternal";
}
<div class="container">
    <div class="row" style="margin-top: 20px;">
        @Html.AntiForgeryToken()
        <form class="form-horizontal col-md-6">
            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Введите email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="email" autocomplete="user-email" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Введите пароль</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" autocomplete="current-password" id="password" />
                </div>
            </div>

            <div class="form-group">
                <label for="confirmpassword" class="col-md-2 control-label">Подтвердите пароль</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" autocomplete="confirm-current-password" id="confirmpassword" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" id="submit">
                        Регистрация
                    </button>
                    <h3>
                        <a href="@Url.Action("Login","Home")" class="label label-primary">
                            Войти
                        </a>
                    </h3>
                </div>
            </div>
        </form>
    </div>

    <div class="alert alert-info alert-dismissible" id="infoMessageBlock" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id="infoMessageText">
            Try to register
        </span>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                replaceClassById("#infoMessageBlock", "alert-info", "alert-success");
                var data = {
                    Email: $('#email').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };
                tryToRegister(data);

            });

            function tryToRegister(data) {

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).done(function (data) {
                    if ($('#infoMessageBlock').hasClass('alert-danger')) {
                        replaceClassById("#infoMessageBlock", "alert-danger", "alert-success");
                    }
                    replaceClassById("#infoMessageBlock", "alert-info", "alert-success");
                    $("#infoMessageText").text(data);
                    console.log(data);
                }).fail(function (error) {
                    console.log(error);
                    console.log(error.responseJSON.ModelState.model);
                    replaceClassById("#infoMessageBlock", "alert-info", "alert-danger");
                    $('#infoMessageText').text(error.responseJSON.Message + '\n');
                });
            }

            function replaceClassById(elementId, sourceName, expectedName) {
                $(elementId).removeClass(sourceName);
                $(elementId).addClass(expectedName);
            }
        })
    </script>
}