USE [NewsDb]
GO
/****** Object:  Table [dbo].[News]    Script Date: 18.02.2019 2:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Theme] [nvarchar](1750) NOT NULL,
	[Description] [nvarchar](3500) NULL,
	[DateOfPublish] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Theme], [Description], [DateOfPublish]) VALUES (2, N'4', N'4', CAST(N'2019-02-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[News] OFF
/****** Object:  Index [IX_News_DateOfPublish]    Script Date: 18.02.2019 2:39:48 ******/
CREATE NONCLUSTERED INDEX [IX_News_DateOfPublish] ON [dbo].[News]
(
	[DateOfPublish] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CStoreIX_News]    Script Date: 18.02.2019 2:39:48 ******/
CREATE NONCLUSTERED COLUMNSTORE INDEX [CStoreIX_News] ON [dbo].[News]
(
	[DateOfPublish],
	[Description],
	[Theme]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
